#root {
  text-align: center;
  width: 100%;
}

/*Header*/
header {
  background-color: honeydew;
  display: flex;
  line-height: 60px;
}
header .header-content {
  flex-grow: 1;
  padding-left: 310px;
}
header .theme-bar {
  width: 100px;
}
.auth-bar .auth-btn {
  margin-right: 30px;
}

.ant-btn:focus,
.ant-btn:active {
  outline: none !important;
  box-shadow: none !important;
}

footer {
  background-color: honeydew;
  line-height: 60px;
  padding-left: 250px;
}

/*Cấu trúc thân*/
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-grow: 1;
}

.side-bar {
  text-align: center;
  background-color: ghostwhite;
  flex-shrink: 0;
}

ul {
  list-style: none;
}

ul li {
  margin: 5px 0;
}

.content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Chia làm 3 cột bằng nhau */
  gap: 16px; /* Khoảng cách giữa các sản phẩm */
  padding-left: 0;
}

.product-list ul li {
  display: flex;
  align-items: center;
  gap: 8px; /* khoảng cách giữa các phần */
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 8px;
  height: 100px;
}

.product-list input[type="text"],
.product-list input[type="number"] {
  width: 120px; /* hoặc auto, tùy nhu cầu */
  padding: 4px;
}

li button {
  padding: 4px 6px;
}

/* Đặc biệt cho nút phân trang */
.pagination-button {
  padding: 8px 12px; /* Điều chỉnh padding */
  line-height: 32px; /* Căn chỉnh văn bản */
}

.content {
  flex-grow: 3;
  padding: 0 20px;
}

.grow {
  width: 250px;
}

.form-content {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-content label {
  margin-right: 10px;
}

.product-list input {
  margin-right: 10px;
}

.search-input {
  text-align: right;
}

/* AuthPage */
.auth-wrapper {
  display: flex;
  height: 100vh;
}

.auth-side-bar {
  background-color: #f0f8ff;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.auth-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  background-color: #fafafa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-card form div {
  margin-bottom: 16px;
  text-align: left;
}

.auth-card input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.switch-auth {
  margin-top: 10px;
  text-align: center;
}

.switch-auth span {
  color: teal;
  cursor: pointer;
  font-weight: bold;
}
